# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Entornos virtuales
env/
venv/

# Datos grandes o sensibles
data/raw/
data/processed/

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos generados
*.log
*.tmp
